# Starship config

format = """
$hostname\
$directory\
$git_branch\
$git_status\
$python\
$nodejs\
$rust\
$golang\
$cmd_duration\
$line_break\
$character"""

[hostname]
ssh_only = true
style = "green bold"
format = "[$hostname]($style):"

[directory]
style = "blue bold"
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "
style = "purple"

[git_status]
style = "red"

[python]
symbol = " "
style = "yellow"

[nodejs]
symbol = " "
style = "green"

[rust]
symbol = " "
style = "red"

[golang]
symbol = " "
style = "cyan"

[cmd_duration]
min_time = 2_000
style = "yellow"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
